{% extends "layout.html" %}
{% block body %}

<body>

    <main>
        <div class="infocontainer">
            <div class="myinfo">
                <div class="f-size-1">Hello I am </div>
                <div class="f-size-1">{{params.name}}</div>
                <div class="f-size-2">{{params.tag}}</div>
                <div class="aboutmore">{{params.profile}} </div>
                <div class="buttons">
                    <a href="http://shyanukant.github.io" target="_blank"><button>My CV</button></a>
                    <a href="/contact"><button>Contact Me</button></a>
                </div>
            </div>
            <div class="mypic">
                <img src="{{url_for('static', filename='images/shyanukant.jpg')}}" alt="shyanukant">
            </div>
        </div>
        <!-- CERTIFICATES -->
        <hr class="m-auto">
        <h2 class="font-design">CERTIFICATES</h2>
        <div class="myproject">
            {% for photo in params.certificates %}
            <div class="ct-box">
                <img class="ct-img" src="static/images/certificate/{{photo}}" alt="">
            </div>
            {% endfor %}
        </div>
        <!-- PROJECT -->
        <hr class="m-auto">
        <h2 class="font-design">PROJECT</h2>
        <div class="myproject">
            <div class="pd-container">
                {% for project in projects %}
                <!-- {% set fname = 'images/' + project.img_file %} -->
                <div class="p-detail">
                    <a href="/project/{{project.slug}}"><img class="p-img" src="{{project.img_file}}" alt=""></a>
                    <a href="/project/{{project.slug}}" class="f-design1">
                        <h3>{{project.title}}</h3>
                    </a>
                    <a href="/project/{{project.slug}}" class="f-design2">
                        <p> {{project.content[0:50]|safe}}...
                        </p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>


</body>

{% endblock %}